
			
		</div> <!-- /.container -->

		<footer class="footer">
          	<div style="text-align: center; class="container">
            	<p class="text-muted">&copy; LunchOrder 2018 | @Made by Xinghan | <a href="https://github.com/xli103">My Github</a> | Contact me: <a href="mailto: xinghanli103@gmail.com">My Gmail</a> | <span style="color: red;">饭头：Haoyu Lin</span></p>
            	<p><em>特别声明：①此站目的仅为健康午饭，无安全措施，请不要恶意渗透、攻击     ②请不要重复大量上传内容，免费云空间容量仅为500M，超出部分负担不起</em></p>
            	<p style="color: red;"><strong>如果有前端小伙伴对改进、重构此项目有兴趣，欢迎随时与我交流</strong></p>
          	</div>
        </footer>

        <script src="/scripts/publicFuncs.js"></script>

		<!-- jQuery CDN -->
		<script 
			src="https://code.jquery.com/jquery-3.1.1.min.js"
  			integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  			crossorigin="anonymous"></script>

  		<!-- Custom JS for search feature -->
        <script src="/scripts/search.js" async defer></script>

		<script 
			src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
			integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
			crossorigin="anonymous"></script>
	</body>
</html>