<% include ./partials/header %>


<h1> Choose restaurant here </h1>





<h1>nav to new order or myorder here</h1>




<h1> 今日订单 </h1>




<h1> 订单详情 </h1>














<% include ./partials/footer %>